import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
import pandas as pd
from bdd import CLIENT_ID,CLIENT_SECRET
from tqdm import tqdm
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.metrics import silhouette_score
import numpy as np
from sklearn.metrics import davies_bouldin_score
